blinker
click
colorama
contourpy
cycler
flask
fonttools
iniconfig
itsdangerous
jinja2
joblib
kiwisolver
markupsafe
matplotlib
numpy
packaging
pandas
pillow
pluggy
pygments
pyparsing
pytest
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
tzdata
werkzeug
